[MESSAGES CONTROL]
disable=
    C0114,  # Отсутствие module docstring
    C0115,  # Отсутствие class docstring
    C0116   # Отсутствие function docstring
    
[FORMAT]
max-line-length=120  # Увеличить длину строки